POSTGRES_PASSWORD=''

GARAGE_RPC_SECRET=''

ENTE_S3_B2_EU_CEN_KEY=''
ENTE_S3_B2_EU_CEN_SECRET=''
ENTE_INTERNAL_HARDCODED_OTT_LOCAL_DOMAIN_SUFFIX='@ente.ocd.beauty'
ENTE_INTERNAL_HARDCODED_OTT_LOCAL_DOMAIN_VALUE='012345'
ENTE_JWT_SECRET=''
ENTE_KEY_ENCRYPTION=''
ENTE_KEY_HASH=''
