dashboard.ocd.beauty {
	reverse_proxy glance:8080
}

ente.ocd.beauty {
	reverse_proxy ente-server:8080
}

monitoring.ocd.beauty {
	reverse_proxy beszel:8090
}

postiz.geckos.audio {
	reverse_proxy postiz:5000
}

subscription.ocd.beauty {
    reverse_proxy wallos:80
}
